DATABASE_URL="postgresql://neondb_owner:npg_kOBl2xuf6SjU@ep-dark-tree-apibfaq6-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_kOBl2xuf6SjU@ep-dark-tree-apibfaq6-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="hyperwings-local-secret-key-2026-very-long-secure"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASSWORD=""
EMAIL_FROM="HyperWings <noreply@hyperwings.mn>"

UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="HyperWings"